#landing,
.bg-landing {
    background-image: url("/images/shadowlands_shattered_sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bg-dark-50 {
    background-color: rgba(52, 58, 64, 0.5);
}

.bg-wowDk {
    color: white;
    background-color: $wowDk !important;
}

.text-orange {
    color: $orange !important;
}
